* {
    color:rgb(35,22, 24);
}
#tra>button{
    color: rgb(255, 84, 0);
}
ul{
    list-type:none;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    style:none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1200px;
    padding-left: 90px;
    font-family: mulish;
}
#menu>li{
    margin-right: 44px;
}

.search{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)),url('Images/Group\ 133.png');
    margin-left:100px;
    height:500px;
    width:1170px;
    border-radius: 12px;
    margin-bottom: 50px;
}
.explore{
    font-family: mulish;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 106px;
}
.choose{
    font-family:mulish;
    font-size:12px;
    color:white;
    text-align:center;
    padding-top:15px;
}
#where{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
}
#when{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;   
}
#type{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
}
.submit{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
    color:white;
    background-color: rgb(255, 84, 0);
}
#ico{
    height: 1rem;
    width: 1rem;
}
.form{
    text-align: center;
    padding-top: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    align-items:center;
    justify-items: center;
}

/*middle*/
.OPT{
width: 590px;
margin-left: 100px;
font-family:mulish;
}
.opthead{
    font-size:45px;
}
#opttext{
    font-size:16px;
}
.optlist{
    list-style: disc;
    font-size:16px;
}
.middle{
    display:flex;
    flex-direction: row;
    padding-bottom: 100px;
}
.rm{
    width: 174px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255,84,0);
    font-size: 16px;
    color: white;
}
/*middle page ends*/
.dhead{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 35px;
}
.dtext{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 643px;
margin-left: 320px;
margin-bottom: 2rem;
}
.container{
    max-width: 1240px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.photo-gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo-row1{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.photo-row2{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.photo-row3{
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.images>img{
width: 100%;
height: 100%;
border-radius: 5px;
object-fit: cover;
}
/*here is a problem*/
.whead{
    font-family: mulish;
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
}
.wtext{
    font-family: mulish;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
} 
.box-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
#text-box{
    width: 573px;
    height: 284px;
    overflow-y: scroll;
    font-family: mulish;
    padding: 40px;
    margin: 12px;
}
#th{
    font-family: mulish;
    font-size: 25px;

}
.hh{
    box-sizing: border-box;
border: 1px solid rgba(251, 181, 99, 0.2);
border-radius: 16px;

background: rgba(251, 181, 99, 0.05);
}
.wcs{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    
    background: rgba(41, 206, 246, 0.05);
}
.bph{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    
    background: rgba(233, 68, 68, 0.05);
}
.ht{
   height: 45px;
   width: 45px;
}
.mp{
    height: 45px;
    width: 45px;
}
.pt{
    height: 45px;
    width: 45px;
}
/*deals and discounts starts*/
.ddconteiner{
    justify-content: center;
}
.ddtitle{
    
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
     text-align: center;
}
.ddtext{
width: 643px;
height: 52px;
margin: 35px 333px 150px 333px;
color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}
.ddcards{
    
}
.ddboxe1{
    background-image: url(Images/39.png);
width: 1170px;
height: 500px;
margin: 15px 70px 50px 70px;
}
.ddboxe2{
    background-image: url(Images/40.png);
    width: 1170px;
    height: 500px;
    margin: 15px 70px 50px 70px;
}
.ddboxe3{
    background-image: url(Images/39.png);
    width: 1170px;
    height: 500px;
    margin: 15px 70px 50px 70px;
}
.boxe1p{
    width: 450px;
    height: 280px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    position: relative;
    left: 650px;
    top: 75px;

}
.boxe2p{
    width: 450px;
    height: 280px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    position: relative;
    left: 70px;
    top: 75px;

}
.boxe3p{
    width: 450px;
    height: 280px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    position: relative;
    left: 650px;
    top: 75px;
}
.smtxt{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.des{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 24px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
}
.deis{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}
.booknow{
    width: 150px;
height: 52px;
border-radius: 8px;
background: rgb(255, 84, 0);
border: none;color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0%;
text-align: center;

}
.boxe1pd{
    position: relative;
    left: 35px;
    top: 15px;
    width: 400px;
}
.boxe2pd{
    position:relative;
    left: 35px;
    top: 15px;
    width: 400px;
}
.boxe3pd{
    position:relative;
    left: 35px;
    top: 15px;
    width: 400px;
}
.sap{
width: 210px;
height: 52px;
color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(255, 84, 0);
border: none;
position: relative;
left: 600px;
top: 25px;
}
/*deals and discounts ends*/
/*simple perfect place starts here*/
.spp{
    display: flex;
    margin-top:150px;
    width: 1150px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
}
.sppt{
/* position: relative;
width: 532px;
height: 424px;
left: 50px;
top: 200px; */
}
.sppth{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.spptd{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.spptl{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 16px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.sppb{
    width: 174px;
    height: 52px;
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(255, 84, 0);
border: none;
}
.video{
    /* position: relative;
    left: 100px;
    top: 50px; */
}
/*simple perfect place ends here*/
.newsletter{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;

}
.nstb{
    width: 474px;
    height: 422px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nst{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 24px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.ddsd{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;}
.formt{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 393px;
height: 52px;
font-size: medium;
font-weight: 400;
}
.subscribe{
    border-radius: 8px;
background: rgb(255, 84, 0);
width: 393px;
height: 52px;
color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.svu{
    border-radius: 16px;
background: rgb(255, 84, 0);
width: 324px;
height: 120px;
transform: rotate(-35deg);
position: relative;
display: flex;
flex-direction: column;
margin: 15px;
left: 325px;
bottom:225px;
}
.tcm{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.svu7{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 32px;
font-weight: 800;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
/*footer*/
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1340px;
    height: 600px;
}
.fti{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.par{
    color: rgb(90, 90, 93);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 500px;
justify-content: center;
position: relative;
left: 450px;
}
.tr{
    color: rgb(255, 84, 0);
}
.s1{
    width: 60px;
    height: 60px;
}
.social{
    position: relative;
    left: 550px;
}
.arr{
    color: rgb(19, 19, 24);
font-family: Inter;
font-size: 16px;
font-weight: 300;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
position: relative;
left: 600px;
top: 100px;
}