* {
    color:rgb(35,22, 24);
}
#tra{
    color: rgb(255, 84, 0);
}
ul{
    list-type:none;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}