* {
    color:rgb(35,22, 24);
}
#tra{
    color: rgb(255, 84, 0);
}
ul{
    list-type:none;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1200px;
    padding-left: 90px;
    font-family: mulish;
}
#menu>li{
    margin-right: 44px;
}

.search{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)),url('Images/Group\ 133.png');
    margin-left:100px;
    height:500px;
    width:1170px;
    border-radius: 12px;
    margin-bottom: 50px;
}
.explore{
    font-family: mulish;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 106px;
}
.choose{
    font-family:mulish;
    font-size:12px;
    color:white;
    text-align:center;
    padding-top:15px;
}
#where{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
}
#when{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;   
}
#type{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
}
.submit{
    width: 174px;
    height:52px;
    border:none;
    border-radius:5px;
    color:white;
    background-color: rgb(255, 84, 0);
}
#ico{
    height: 1rem;
    width: 1rem;
}
.form{
    text-align: center;
    padding-top: 25px;
}

/*middle*/
.OPT{
width: 590px;
margin-left: 100px;
font-family:mulish;
}
.opthead{
    font-size:45px;
}
#opttext{
    font-size:16px;
}
.optlist{
    list-style: disc;
    font-size:16px;
}
.middle{
    display:flex;
    flex-direction: row;
    padding-bottom: 100px;
}
.rm{
    width: 174px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255,84,0);
    font-size: 16px;
    color: white;
}
/*middle page ends*/
.dhead{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 35px;
}
.dtext{
    color: rgba(19, 19, 24, 0.7);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 643px;
margin-left: 320px;
}
.imgs{
    display: grid;
}
/*here is a problem*/
.whead{
    font-family: mulish;
    font-size: 35px;
    
}
